*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.gitignore
.sass-cache
.vagrant/
.vscode
__pycache__
dist
docs
env
logs
src/node_modules
web/media
web/static/CACHE
stats
Dockerfile*
docker-compose*
.dockerignore


.docker
*/__pycache__/
**/__pycache__/

.env/
.venv/
venv/
.env